<!DOCTYPE html>
<html>
<style>
	table,
	th,
	td {
		border: 1px solid black;
	}
</style>

<head>
	<link rel="stylesheet" th:href="@{/css/elenco.css}" />
	<link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>

<body>

	<div>
		<a th:href="@{/indexClient}">Home</a>
	</div>

	<h2>Ordini effettuati</h2>
	<i>Client:</i>
	<span th:text="${user.nome}"></span>
	<span th:text="${user.cognome}"></span>
	<i>&nbsp;&nbsp;email:</i>
	<span th:text="${user.email}"></span>

	<table style="width:60%">
		<ul>
			<ta th:each="ordine: ${ordini}">

				<tr>
					<th>Carrello</th>
					<th>Email</th>
					<th>Ordine id</th>
					<th>Rimuovi ordine</th>
				</tr>
				<tr>
					<td>
						<span th:each="maglietta: ${ordine.magliette}">
							<a th:href="@{'/magliettaClient' + '/' + ${maglietta.id}}"
								th:text="${maglietta.nome}" />,</a>
						</span>
						<span th:each="accessorio: ${ordine.accessori}">
							<a th:href="@{'/accessorioClient' + '/' + ${accessorio.id}}"
								th:text="${accessorio.nome}" />,</a>
						</span>
					</td>
					<td>
						<span th:text="${ordine.email}"></span>
					</td>
					<td>
						<span th:text="${ordine.numeroOrdine}"></span>
					</td>
					<td>
						<div style="position:relative; left:0px; right:0px;">
							<a th:href="@{'/toDeleteOrdine'+'/'+${ordine.id}}" th:text="rimuovi">Rimuovi</a>
						</div>
					</td>

				</tr>

		</ul>
	</table>
	<div style="position:absolute; bottom:10px; right:10px;">
		<img th:src="@{/images/logo.jpg}" style="width:120px;height:120px">
	</div>
</body>

</html>