<!DOCTYPE html>
<html>
<style>
	table,
	th,
	td {
		border: 1px solid black;
	}
</style>

<head>
	<link rel="stylesheet" th:href="@{/css/elenco.css}" />
	<link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
</head>

<body>

	<div>
		<a th:href="@{/indexAdmin}">Home</a>
	</div>

	<h2>Ordini totali</h2>
	<table style="width:60%">
		<ul>
			<ta th:each="ordine: ${ordini}">

				<tr>
					<th>Carrello</th>
					<th>Email</th>
					<th>Ordine id</th>
				</tr>
				<tr>
					<td>
						<span th:each="maglietta: ${ordine.magliette}">
							<a th:href="@{'/maglietta' + '/' + ${maglietta.id}}" th:text="${maglietta.nome}" />,</a>
						</span>
						<span th:each="accessorio: ${ordine.accessori}">
							<a th:href="@{'/accessorio' + '/' + ${accessorio.id}}" th:text="${accessorio.nome}" />,</a>
						</span>
					</td>
					<td>
						<span th:text="${ordine.email}"></span>
					</td>
					<td>
						<span th:text="${ordine.numeroOrdine}"></span>
					</td>

				</tr>

		</ul>
	</table>
</body>


</html>