<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/singolo.css}" />
	<link rel="icon" th:href="@{/images/logo.jpg}" type="image/x-icon">
	<title>Creazione ordine</title>
</head>

<body>
	<div>
		<a th:href="@{/indexClient}">Home</a>
	</div>
	<h4>Effetua il tuo ordine dal catalogo</h4>
	<form th:action="@{/ordine}" th:method="POST" th:object="${ordine}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">ErroreGlobale</p>
		</div>

		<p>
		<div style="position:relative; left:0px; bottom:0px">
			<h2><strong>Magliette</strong></h2>
		</div>
		<label>
			<span th:each="maglietta: ${magliette}">
				<input type="checkbox" name="magliette" th:value="${maglietta.id}" th:text="${maglietta.prezzo}"
					th:field="*{magliette}" />&euro;
				<img th:src="@{'/images/' + ${maglietta.nome} +'.jpg'}" width="20%">
			</span>
		</label>
		</p>
		<p>
		<div style="position:relative; left:0px; bottom:0px">
			<h2><strong>Accessori</strong></h2>
		</div>
		<label>
			<span th:each="accessorio: ${accessori}">
				<input type="checkbox" name="accessori" th:value="${accessorio.id}" th:text="${accessorio.prezzo}"
					th:field="*{accessori}" />&euro;
				<img th:src="@{'/images/' + ${accessorio.nome} +'.jpg'}" width="20%">
			</span>
		</label>
		</p>
		<div><button type="submit"> Conferma</button></div>
	</form>
</body>

</html>