<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/singolo.css}" />
	<link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
	<title>Ordine</title>
</head>

<body>
	<div>
		<a th:href="@{/indexClient}">Home</a>
	</div>
	<div>
		<h4>Dettagli ordine:</h4>
		<div>
			<strong>Id ordine: </strong>
			<span th:text="${ordine.numeroOrdine}">Id ordine</span>
		</div>
		<div>
			<strong>Email: </strong>
			<span th:text="${ordine.email}">Email</span>
		</div>
		<div><strong>Magliette ordinate: </strong>
			<span th:each="maglietta: ${ordine.magliette}">
				<a th:href="@{'/magliettaClient' + '/' + ${maglietta.id}}" th:text="${maglietta.nome}" />,</a>
			</span>
		</div>
		<div><strong>Accessori ordinati: </strong>
			<span th:each="accessorio: ${ordine.accessori}">
				<a th:href="@{'/accessorioClient'+'/'+${accessorio.id}}" th:text="${accessorio.nome}" />,</a>
			</span>
		</div>
	</div>
</body>

</html>