a { 
	text-decoration: none;
    font-family: 'Courier New', monospace;
    position: relative;
    background-color: #add8e6;
	color: white;
}

/* Change the color of links on hover */
a:hover {
  background-color: #fffff0;
  color: black;
  cursor: pointer;
}

body {
  background: #add8e6; 
  font-family: 'Courier New', monospace;   
}

h4 {
  position: relative;
  left: 0px;
  font-family: 'Courier New', monospace; 
  font-size: 120%;
}

form button {
  font-family: 'Courier New', monospace;
  text-transform: uppercase;
  background: #add8e6;
  width: 8%;
  border: 1%;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
