<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Tagga&Cuci</title>
</head>

<body>
	<div>
		<a th:href="@{/collezioni}">Elenco collezioni</a>&nbsp;
		<a th:href="@{/magliette}">Elenco magliette</a>&nbsp;
		<a th:href="@{/accessori}">Elenco Accessori</a>&nbsp;
		<a th:href="@{/materiali}">Elenco materiali</a>&nbsp;
		
		<a style=float:right; th:href="@{/ordini}"> Area Personale</a>
		<div style="position:absolute; top:8px; right:115px">
			<a th:href="@{/ordineForm}"> Catalogo</a>
		</div>
	</div>
	<div><br>
		<a th:href="@{/collezioneForm}">Inserisci collezione</a>&nbsp;
		<a th:href="@{/magliettaForm}">Inserisci maglietta</a>&nbsp;
		<a th:href="@{/accessorioForm}">Inserisci accessorio</a>&nbsp;
		<a th:href="@{/materialeForm}">Inserisci materiale</a>&nbsp;
	</div>
	<div>
		<hr>
		<h1><strong>Tagga&Cuci</strong></h1>
		</hr>
	</div>
</body>

</html>