<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Tagga&Cuci</title>
</head>

<body>
	<div>
		<a th:href="@{/collezioniUser}">Elenco collezioni</a>&nbsp;
		<a th:href="@{/maglietteUser}">Elenco magliette</a>&nbsp;
		<a th:href="@{/accessoriUser}">Elenco Accessori</a>&nbsp;
		<a th:href="@{/materialiUser}">Elenco materiali</a>&nbsp;

		<div style="position:absolute; top:7px; right:12px">
			<a th:href="@{/login}"> Login</a>
		</div>
	</div>
	<div>
		<hr>
		<h1><strong>Tagga&Cuci</strong></h1>
		</hr>
	</div>
</body>

</html>