<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="icon" th:href="@{/images/logo.jpg}" type="image/x-icon">
	<title>Tagga&Cuci</title>
</head>

<body>
	<div>
		<a th:href="@{/collezioniUser}">Elenco collezioni</a>&nbsp;
		<a th:href="@{/maglietteUser}">Elenco magliette</a>&nbsp;
		<a th:href="@{/accessoriUser}">Elenco Accessori</a>&nbsp;
		<a th:href="@{/materialiUser}">Elenco materiali</a>&nbsp;

		<div style="position:absolute; top:2px; right:12px">
			<a th:href="@{/login}"> Login</a>
		</div>
	</div>
	<div>
		<hr>
		<h1><strong>
				<center>Tagga&Cuci</center>
			</strong></h1>
		</hr>
		<div>
			<center><img th:src="@{/images/slider.jpg}" style="width:900px;height:600px"></center>
		</div>
		</hr>
	</div>
	<div>
		<h7>"Tagga&Cuci" Ricami personalizzati, riuso di vestiario e oggettistica vintage personalizzabile
			con ricami fatti a mano.
			Immagini e contenuti sono © Copyright dei rispettivi proprietari. E' vietata la riproduzione, anche
			parziale.</h7>
	</div>
	<div style="position:absolute; bottom:42px; right:12px">
		<a href="https://www.instagram.com/tagga_e_cuci/?utm_medium=copy_link">Instagram</a>
	</div>
</body>

</html>