<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registrazione completata</title>
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="icon" th:href="@{/images/logo.jpg}" type="image/x-icon">
</head>

<body>
	<div>
		<a href="/">Home</a>
      <div><br><hr>
		<h1>Congratulazioni ti sei registrato!</h1>
      </div>
	</div>
	<div style="position:absolute; bottom:10px; right:10px;">
		<img th:src="@{/images/logo.jpg}" style="width:120px;height:120px">
	</div>
</body>

</html>