<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Inserimento collezione</title>
</head>

<body>
	<div>
		<a th:href="@{/}">Home</a>
	</div>
	<h4>Inserisci nuova collezione</h4>
	<form th:action="@{/collezione}" th:method="POST" th:object="${collezione}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">ErroreGlobale</p>
		</div>
		<div>
			Nome:
			<input class="input" type=text th:field="*{nome}" />
			<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
		</div>
		<div>
			Stagione:
			<input class="input" type=text th:field="*{stagione}" />
		</div>
		<p>
			<label>Magliette:
				<input type="checkbox" name="magliette" th:each="maglietta: ${magliette}" th:text="${maglietta.nome}"
					th:value="${maglietta.id}" th:field="*{magliette}" />
			</label>
		</p>
		<p>
			<label>Accessori:
				<input type="checkbox" name="accessori" th:each="accessorio: ${accessori}" th:text="${accessorio.nome}"
					th:value="${accessorio.id}" th:field="*{accessori}" />
			</label>
		</p>
		<div><button type="submit"> Conferma</button></div>
	</form>
</body>

</html>