<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/elenco.css}" />
	<link rel="icon" th:href="@{/images/logo.jpg}" type="image/x-icon">
	<title>Elenco accessori</title>
</head>

<body>
	<div>
		<a th:href="@{/indexAdmin}">Home</a>
	</div>
	<h4>Elenco accessori</h4>
	<ul>
		<li th:each="accessorio: ${accessori}">
			<a th:href="@{'/accessorio'+'/'+${accessorio.id}}" th:text="${accessorio.nome}">Bracciale</a>
			<a th:href="@{'/toDeleteAccessorio'+'/'+${accessorio.id}}" th:text="rimuovi">Rimuovi</a>
			<a th:href="@{'/toUpdateAccessorio'+'/'+${accessorio.id}}" th:text="modifica">Modifica</a>
		</li>
	</ul>
</body>

</html>