<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/singolo.css}" />
	<link rel="icon" th:href="@{/images/logo.jpg}" type="image/x-icon">
	<title>Rimozione maglietta</title>
</head>

<body>
	<div>
		<a th:href="@{/indexAdmin}">Home</a>
	</div>
	<h4>Dettaglio maglietta da rimuovere</h4>
	<div th:object=${maglietta}>
		<strong>Nome:</strong><span th:text="*{nome}">Cotone</span>
		<strong>Descrizione:</strong><span th:text="*{descrizione}">Descrizione</span>
		<strong>Prezzo:</strong><span th:text="*{prezzo}">Prezzo</span>
		<a th:href="@{'/deleteMaglietta'+'/'+${maglietta.id}}" th:text="conferma">conferma</a>
	</div>
</body>

</html>